[Unit]
Description=Gunicorn Daemon for FastAPI uhslc-metaapi
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/srv/apps/metaAPI
ExecStart=/srv/apps/metaAPI/venv/bin/gunicorn -c gunicorn_conf.py main:app

[Install]
WantedBy=multi-user.target

